.container
    .well
        form.form-horizontal(name="profileForm")
            fieldset
                legend
                    i.fa.i.fa.fa-user
                    | &nbsp User Profile
                .form-group
                    label.col-md-2.control-label(for="username") Tên tài khoản
                    .col-md-10
                        input.form-control(name="username", type="text", placeholder="Tên tài khoản", ng-model="username", required)
                .form-group
                    label.col-md-2.control-label(for="email") Email
                    .col-md-10
                        input.form-control(name="email", type="email", placeholder="Email", ng-model="email", required)
                .form-group
                    label.col-md-2.control-label(for="fname") First Name
                    .col-md-10
                        input.form-control(name="fname", type="text", placeholder="First Name", ng-model="fname", required)
                .form-group
                    label.col-md-2.control-label(for="telephone") Last Name
                    .col-md-10
                        input.form-control(name="telephone", type="text", placeholder="Last Name", ng-model="telephone", required)
                .form-group
                    label.col-md-2.control-label(for="password") Password
                    .col-md-10
                        input.form-control(name="password", type="password", placeholder="Password", ng-model="password")
                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-right
                            button.btn.btn-primary(ng-click="update()", ng-disabled="signupForm.$invalid")
                                i.fa.fa-floppy-o
                                | &nbsp Lưu
                            | &nbsp;
                            a.btn.btn-warning(href="/")
                                i.fa.fa-ban
                                | &nbsp Thoát
