.container
    .jumbotron
        h1 Quản lý xuất nhập
        p Chào mừng bạn đến với Hệ thống Quản lý xuất nhập hàng hóa!. Chúng tôi mong rằng hệ thống sẽ giúp bạn tiếp cận gần hơn với các hoạt động tại cửa hàng, cũng như cải thiện chất lượng hoạt động trong việc xuất và nhập hàng hóa ở cửa hàng bạn.
    .row